@use "../../../../../shared/styles/variables.scss" as *;

.employeeCell {
  min-width: 120px;
  text-align: center;
  vertical-align: middle;
}

.employeeName {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  position: relative;
  margin: 0 auto;
  transition: opacity 0.2s ease;
}

.employeeCell {
  &:hover {
    .employeeName {
      opacity: 0.9;
    }
  }
}

.avatarImage {
  width: 100%;
  height: 100%;
  border-radius: $radius-sm;
  object-fit: cover;
  display: block;
}

.avatarPlaceholder {
  height: 80px;
  width: 80px;
  border-radius: $radius-sm;
  background-color: $color-light-grey;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-dark-fill;
  font-weight: 600;
  font-size: 0.875rem;
}

@media (max-width: 768px) {
  .employeeName {
    height: 70px;
    width: 70px;
    padding: 0.375rem;
  }

  .avatarPlaceholder {
    font-size: 0.75rem;
  }
}
