@import '../../shared/styles/variables.scss';

.status {
  text-align: center;
  padding: $spacing-lg;
  margin-bottom: $spacing-xl;
  color: $color-primary-beige;
}

.won {
  background-color: $color-overlay-green;
  border: 2px solid $color-success;
  color: $color-success;

  h2 {
    margin: 0 0 $spacing-sm 0;
    font-size: 1.75rem;
    color: $color-success;
  }

  p {
    margin: 0;
    font-size: 1.125rem;
    color: $color-dark-accent;
  }
}

.lost {
  background-color: $color-overlay-red;
  border: 2px solid $color-dark-accent;
  color: $color-dark-accent;

  h2 {
    margin: 0 0 $spacing-sm 0;
    font-size: 1.75rem;
    color: $color-dark-accent;
  }

  p {
    margin: 0;
    font-size: 1.125rem;
    color: $color-dark-accent;
  }
}

.guessCount {
  margin: 0;
  font-size: 1.125rem;
  color: $color-dark-accent;


  strong {
    color: $color-success;
    font-size: 1.25rem;
  }
}

