@use "shared/styles/variables.scss" as *;

.dataSection {
  margin-top: $spacing-xl;
}

.rulesContent {
  background-color: $color-white;
  padding: $spacing-lg;
  border-radius: $radius-md;
  border: 1px solid $color-border-medium;

  h4 {
    margin: $spacing-lg 0 $spacing-md 0;
    color: $color-dark-accent;
    font-size: 1.25rem;
  }

  ul {
    margin: $spacing-md 0;
    padding-left: $spacing-xl;
    color: $color-dark-fill;

    li {
      margin-bottom: $spacing-sm;
      line-height: 1.6;
    }
  }

  p {
    color: $color-dark-fill;
    line-height: 1.6;
    margin: $spacing-md 0;
  }
}
