@import './shared/styles/variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Font face declarations for volksans
@font-face {
  font-family: 'volksans Regular';
  src: url('/fonts/volksans-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'volksans Bold';
  src: url('/fonts/volksans-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: $font-family-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: $color-dark-accent;
  font-feature-settings: normal;
  background-color: $color-primary-beige;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  min-height: 100vh;
}

